.contacts {
    &-block {
        text-align: center;
    }

    &-img {
        width: 340px;
        margin: 0 auto;
        padding: 20px;

        img {
            max-width: 100%;
        }
    }

    &-item {
        margin: 15px 0;

        p {
            font-size: 22px;
            margin-top: 2px;
        }
    }
}
