.notfound {
    text-align: center;

    &-404 {
        font-size: 180px;
        font-weight: 100;
        line-height: 1;
    }

    &-text {
        font-size: 40px;
    }

    a {
        display: inline-block;
        margin-top: 20px;
    }
}
