@import 'variables';
@import 'libs/normalize';
@import 'components/all';

.container {
    padding: 0px 1.5rem;
    max-width: 1200px;
    margin: 0 auto;
}

.page {
    padding: 50px 0;
}

.status {
    &-icon {
        border-radius: 50%;
        width: 10px;
        height: 10px;
        display: inline-block;
        margin-right: 10px;
    }

    &__Alive {
        background-color: $color_alive;
    }

    &__Dead {
        background-color: $color_dead;
    }

    &__unknown {
        background-color: $color_unknown;
    }
}

.back-page {
    color: $color_main;
    transition: $transition;

    &:hover {
        text-decoration: underline;
        transition: $transition;
    }
}

.btn-block {
    margin-bottom: 30px;
    text-align: center;
}

@import 'media/media';
